body {
    margin: 0;
    padding: 0;
    background-image: url('img/fundo.jpg');
    background-size: cover;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.superior {
    background-color: #f0f0f0;
    padding: 2px;
    padding-left: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.superior a {
    transition: color 0.3s;
    text-decoration: none;
    /* Estilização removida */
    color: inherit;
    /* Cor inherit adicionada */
}

.superior a:hover {
    color: black;
    text-decoration: underline;
    /* Sublinhado ao passar o mouse adicionado */
}


.opcoes {
    color: #333;
    display: flex;
    align-items: center;
}

.opcoes a {
    margin-right: 100px;
    text-decoration: none;
    /* Estilização removida */
    color: inherit;
    /* Cor inherit adicionada */
    transition: color 0.3s;
}

.opcoes a:hover {
    color: black;
    text-decoration: underline;
    /* Sublinhado adicionado ao passar o mouse */
}

main {
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Novos seletores adicionados (parte de inclusão/cadastro) */
.texth2 {
    color: #6798e7;
    /* Adicionada cor dos h2s */
}

.text {
    color: #565969;
    /* Adicionada cor de texto */
}

.box {
    background-color: #E6F7FF;
    /* Cor de fundo box de entrada de texto */
}

.cadastrar {
    background-color: #cedae0;
    /* Cor de fundo botão submit */
}