body {
    background-image: url('/FRONTEND/img/wing.jpg');
    background-size: cover;
    height: 150vh;
    color: #d0eaf7;
    font-family: Arial, sans-serif;
    font-size: 1.25em;
}

.imagem {
    margin-left: 37%;
}

.superior {
    background-color: #1D3952;
    padding: 1% 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.15em solid black;
    height: 3.4em;
}

.superior a {
    transition: color 0.3s;
    text-decoration: none;
    color: inherit;
}

.superior a:hover {
    color: rgb(171, 205, 248);
    text-decoration: underline;
}

.opcoes {
    color: inherit;
    display: flex;
    margin-right: 14%;
}

.opcoes a {
    margin-right: 55%;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

.opcoes a:hover {
    color: hsl(220, 93%, 84%);
    text-decoration: underline;
}

#main {
    display: flex;
    justify-content: center;
}

.cadastroDiv {
    padding: 0.6em 1.25em;
    margin-bottom: 2em;
    margin-left: 10%;
}
.erro {
    color: red; /* Cor do texto da mensagem de erro */
    font-size: 1em; /* Tamanho da fonte da mensagem de erro */
    margin-top: 0.25em; /* Espaço acima da mensagem de erro */
    margin-bottom: 1em; /* Espaço abaixo da mensagem de erro */
  }
.button {
    background-color: #384488;
    color: antiquewhite;
    padding: 0.6em 1.25em;
    font-size: 1em;
    border: 0.5em solid #252953;
}

.textLabel {
    font-weight: bold;
    font-style: italic;
    color: #3b57f7;
}

.texth1 {
    font-style: italic;
    font-size: 1.5em;
    font-weight: bold;
    color: #0584ce;
    margin-left: 8%;
}

.box {
    width: 200px;
}

.control {
    width: 50%;
}

.currencySelect {
    width: 4.4em;
}

.input {
    height: 3.13em;
}